.dart_tool/
build/
.flutter-plugins-dependencies

# Local/IDE artifacts
.DS_Store
.idea/
*.iml
.metadata

# Unused generated iOS icon duplicates
ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-*.png
